.default-color0.chart-series-line {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.default-color1.chart-series-line { -fx-stroke: transparent; }

.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}
.default-color1.chart-line-symbol {
    -fx-background-color: red, red;
}
